body {
  background-image: url("./img/dollar.jpg");
}

.room-for-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  top: 0;
  left: 0;
  width: 50%;
  height: 20vh;
}
.title {
  font-size: 8vw;
  font-weight: bold;
  color: #288c28;
  text-decoration: underline;
}
.ilonmusk {
}
.ilonmusk2 {
}

.room-for-coins {
  margin-left: 3vw;
}
